:root {
  --primary: #ddd;
  --light: #fff;
  --dark: #333;
  --gray: #ddd;
  --dark-gray: #f2f2f2;
  --blue: #1e4c7b;
  --lightBlue: #2e75bb;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --linearBlue: linear-gradient(180deg, #1b3764, #237caf);
  --bigFont: 20px;
  --smallFont: 14px;
  --column3: 40% 30% 30%;
  --bg: #e8f4fa;
  --hovertracking: #00aeff;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: var(--light);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #2e75bb;
    border-radius: 5px;
  }
}

h1 {
  color: white;
  background-color: var(--blue);
  padding: 10px;
  margin: 0;
}
.approve-center {
  display: flex;
  justify-content: center;
}

.approve-center.underline {
  outline: 1px solid gray;
  width: 100%;
}

.approve-center.border {
  border: 1px solid gray;
}

.approve-center.grid {
  display: grid;
}

input {
  cursor: pointer;
}
